#bodyWrapper {
  display: grid; 
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

#headerDiv {
  border: solid 2px blue;
  grid-column: 2;
  grid-row: 1;
}

#leftColumn {
  border: solid 2px purple;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
}

#rightColumn {
  border: solid 2px green;
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.todo {
  height: 50px;
  width: 95%;
  border: 2px solid slategray;
  margin: 5px;
  padding: 5px;
}

.project {
  height: 50px;
  width: 90%;
  border: 2px solid slategray;
  margin: 5px;
  padding: 5px;
}